﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="myApp">
    @RenderBody()
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script src="~/app/myApp.js"></script>
    <script src="~/app/services/contactsService.js"></script>
    <script src="~/app/controllers/contactsController.js"></script>
    <script src="~/app/controllers/emailsController.js"></script>
    <script src="~/app/controllers/phonesController.js"></script>
    <script src="~/app/services/emailsService.js"></script>
    <script src="~/app/services/phonesService.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

   
