﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="../Scripts/app/controllers/contactsController.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">Contacts</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>List</h2>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input ng-model="search" class="form-control text-box single-line" type="text" placeholder="Search"/> 
            </div>
            <form>
                <input class="MyButton" type="button" value="search" ng-click="searchContacts(search)" />
            </form>
        </form>

        <p>
            <a href="#/contacts/create">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="contact in contacts" class="tablerow">
                <td>{{contact.name}}</td>
                <td>{{contact.surname}}</td>
                <td>{{contact.address}}</td>
                <td>{{contact.phone}}</td>
                <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
                <td>
                    <a href="#/contacts/edit/{{contact.id}}" title="Edit" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> |
                    <a href="#/contacts/details/{{contact.id}}" title="Details" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a> |
                    <a class="delete" href="#/contacts/delete/{{contact.id}}" title="Delete" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>

        </table>

        <hr />
        
    </div>

    



   

</body>
</html>
