﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="../Scripts/app/controllers/contactsController.js"></script>
</head>
<body>
   
    <div class="body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/conacts/">Contacts</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>
        <div class="container body-content">



            <input name="__RequestVerificationToken" type="hidden" value="wlwYyGEQgLwNP51r6AYuR1u3bbDrvshvmxEU6ZnMSzJg4wel1EiRZ0yQg2rOzoPSjhaSS0N1urWY7qIx0czyKZNbYOjyTCGOPi3mT0LfdOM1" />    <div class="form-horizontal">
                <h4>Contact</h4>
                <hr />

                <input data-val="true" data-val-number="The field id must be a number." data-val-required="The id field is required." id="id" name="id" type="hidden" value="3" />

                <div class="form-group">
                    <label class="control-label col-md-2">First name</label>
                    <div class="col-md-10">
                        <input ng-model="name" class="form-control text-box single-line" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Last name</label>
                    <div class="col-md-10">
                        <input ng-model="surname" class="form-control text-box single-line" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Address</label>
                    <div class="col-md-10">
                        <input ng-model="address" class="form-control text-box single-line" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Phone number</label>
                    <div class="col-md-10">
                        <input ng-model="phone" class="form-control text-box single-line" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input ng-model="email" class="form-control text-box single-line" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Tags</label>
                    <div class="col-md-10">
                        <input ng-model="tags" class="form-control text-box single-line" type="text" placeholder="e.g. tag1, tag2" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a ng-click="create(name, surname, address, email, phone, tags);" class="btn btn-primary">Create</a>
                    </div>
                </div>
            </div>
            </div>

        <div>
            <a ng-href="#/contacts/" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</a>
        </div>

    </div>
    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>



    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"96d8a02fe0154661b9f942287d199599"}
    </script>
    <script type="text/javascript" src="http://localhost:50562/2c72f0819b2445e3831af4171a17b824/browserLink" async="async"></script>
    <!-- End Browser Link -->
</body>
</html>
