﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="../app/controllers/contactsController.js"></script>
    <script src="../app/controllers/emailsController.js"></script>
    <script src="../app/controllers/phonesController.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">Contacts</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Edit</h2>

        <div>
            <input name="__RequestVerificationToken" type="hidden" value="wlwYyGEQgLwNP51r6AYuR1u3bbDrvshvmxEU6ZnMSzJg4wel1EiRZ0yQg2rOzoPSjhaSS0N1urWY7qIx0czyKZNbYOjyTCGOPi3mT0LfdOM1" />    
            <div class="form-horizontal">
                <h4>Contact</h4>
                <hr />

                <input data-val="true" data-val-number="The field id must be a number." data-val-required="The id field is required." id="id" name="id" type="hidden" value="3" />

                 <div class="form-group">
                <label class="control-label col-md-2">First name</label>
                <div class="col-md-10">
                    <input ng-model="contact.name" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last name</label>
                <div class="col-md-10">
                    <input ng-model="contact.surname" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <input ng-model="contact.address" class="form-control text-box single-line" type="text" />
                </div>
            </div>


                <div class="form-group">
                    <label class="control-label col-md-2" for="phones">Phones</label>
                    <div class="col-md-offset-2 col-md-10" ng-repeat="phone in phones">
                        {{phone.phoneNumber}}:::Primary?
                        <a><input type="checkbox" ng-change="change(phone.phoneId)" ng-model="primary" ng-init="primary=phone.isPrimary" /></a>||
                        <a href="#/phones/edit/{{phone.id}}">Edit</a>|
                        <a ng-click="deletePhone(phone.id);" class="btn btn-primary">Delete</a>
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="#/phones/create/{{contact.id}}">Add</a>
                    </div>
                </div>

               <div class="form-group" >
                    <label class="control-label col-md-2" for="emails">Emails</label>
                    <div class="col-md-offset-2 col-md-10" ng-repeat="email in emails">
                        {{email.emailAddress}}:::Primary?:
                        <a><input type="checkbox" ng-change="change(email.emailId)" ng-model="primary" ng-init="primary=email.isPrimary" /></a>||
                        <a href="#/emails/edit/{{email.id}}">Edit</a> ||
                        <a ng-click="deleteEmail(email.id)" class="btn btn-primary">Delete</a>                    
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="#/emails/create/{{contact.id}}">Add</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="tags">tags</label>
                    <div class="col-md-10">
                        <input ng-model="contact.tags" class="form-control text-box single-line" type="text" />                       
                        <span class="field-validation-valid text-danger" data-valmsg-for="tags" data-valmsg-replace="true"></span>
                    </div>
                </div>

               <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a ng-click="edit(contact.id,contact.name, contact.surname, contact.address, contact.tags)" class="btn btn-primary">Save</a>
                </div>
                </div>
        </div>
        <div>
            <a ng-ref="/contacts/">Back to List</a>
        </div>


        <hr />
        <footer>
            <p>&copy; 2017 - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>


    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>



    

</body>
</html>
