﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">Contacts</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Details</h2>

        <div>
            <h4>Contact</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Name
                </dt>

                <dd>
                    {{contact.name}}
                </dd>

                <dt>
                    Surname
                </dt>

                <dd>
                    {{contact.surname}}
                </dd>

                <dt>
                    Address
                </dt>

                <dd>
                    {{contact.address}}
                </dd>

                <dt>
                    Phones
                </dt>

                <dd ng-repeat="phone in phones">
                    {{phone.phoneNumber}}
                </dd>

                <dt>
                    Emails
                </dt>

                <dd ng-repeat="email in emails">
                    {{email.emailAddress}}
                </dd>

                <dt>
                    Tags
                </dt>

                <dd>
                    {{tags}}
                </dd>



            </dl>
        </div>
        <p>
            <a href="#/Contacts/Edit/{{contact.id}}">Edit</a> |
            <a href="#/">Back to List</a>
        </p>

        <hr />
        <footer>
            <p>&copy; 2017 - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>



   

</body>
</html>

