﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="../app/controllers/emailsController.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">Contacts</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Edit</h2>


        <form action="/Emails/Edit/" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="GmVkPKHiJZeX_L6fiiKTfcvnk73v6uoSCUU_3We9YDpe8HmFJggmqhvcycvqCvu-PO2-NTdHFWTXPQiX7K7h90JXEn2war-UTyMhf8bHb3o1" />    
            <div class="form-horizontal">
                <h4>Email</h4>


                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input ng-model="email.emailAddress" class="form-control text-box single-line" type="text" />
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a ng-click="editEmail(email.emailAddress,email.ownerId)" class="btn btn-primary">Save</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>


    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>



    

</body>
</html>
